plex/src/main/resources/plex/AccessToken.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="access_tokens">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="access_token" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType mixed="true">
						<xs:sequence>
							<xs:element name="library_section" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:byte" name="key" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="device" use="optional"/>
						<xs:attribute type="xs:string" name="token" use="optional"/>
						<xs:attribute type="xs:byte" name="owned" use="optional"/>
						<xs:attribute type="xs:string" name="username" use="optional"/>
						<xs:attribute type="xs:string" name="title" use="optional"/>
						<xs:attribute type="xs:int" name="id" use="optional"/>
						<xs:attribute type="xs:string" name="thumb" use="optional"/>
						<xs:attribute type="xs:byte" name="allow_sync" use="optional"/>
						<xs:attribute type="xs:byte" name="allow_camera_upload" use="optional"/>
						<xs:attribute type="xs:byte" name="allow_channels" use="optional"/>
						<xs:attribute type="xs:byte" name="allow_tuners" use="optional"/>
						<xs:attribute type="xs:string" name="filter_all" use="optional"/>
						<xs:attribute type="xs:string" name="filter_movies" use="optional"/>
						<xs:attribute type="xs:string" name="filter_music" use="optional"/>
						<xs:attribute type="xs:string" name="filter_photos" use="optional"/>
						<xs:attribute type="xs:string" name="filter_television" use="optional"/>
						<xs:attribute type="xs:string" name="scrobble_types" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>